<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  <bean id="profesorRepository" class="domain.ProfesorRepository">
    <property name="profesores">
      <map>
        <entry>
          <key><value>1</value></key>
          <ref bean="P001" />
        </entry>
        <entry>
          <key><value>2</value></key>
          <ref bean="P002" />
        </entry>
        <entry>
          <key><value>3</value></key>
          <ref bean="P003" />
        </entry>
      </map>
    </property>
  </bean>
  <bean id="P001" class="domain.Profesor">
     <property name="id" value="1"/>
     <property name="cedula" value="101110111"/>
     <property name="nombre" value="Carlos Perez"/>
     <property name="titulo" value="Licenciado"/>
     <property name="area" value="Administracion"/>
     <property name="telefono" value="3456-7890"/>
  </bean>
  <bean id="P002" class="domain.Profesor">
     <property name="id" value="2"/>
     <property name="cedula" value="202220222"/>
     <property name="nombre" value="Luis Torres"/>
     <property name="titulo" value="Master"/>
     <property name="area" value="Economia"/>
     <property name="telefono" value="6677-3456"/>
  </bean>
  <bean id="P003" class="domain.Profesor">
     <property name="id" value="3"/>
     <property name="cedula" value="303330333"/>
     <property name="nombre" value="Juan Castro"/>
     <property name="titulo" value="Licenciado"/>
     <property name="area" value="Matematica"/>
     <property name="telefono" value="6755-7788"/>
  </bean>
  <bean id="grupoRepository" class="domain.GrupoRepository">
    <property name="grupos">
      <map>
        <entry>
          <key><value>1</value></key>
          <ref bean="G001" />
        </entry>
        <entry>
          <key><value>2</value></key>
          <ref bean="G002" />
        </entry>
      </map>
    </property>
  </bean>
  <bean id="G001" class="domain.Grupo">
     <property name="id" value="1"/>
     <property name="numero" value="1"/>
     <property name="sigla" value="ADM-001"/>
     <property name="nombre" value="Elementos de Administración"/>
     <property name="horario" value="K,J 7:00-9:00am"/>
     <property name="aula" value="A01"/>
	 <property name="id_profesor" value="101110111"/>
  </bean>
  <bean id="G002" class="domain.Grupo">
     <property name="id" value="2"/>
     <property name="numero" value="1"/>
     <property name="sigla" value="ECN-001"/>
     <property name="nombre" value="Principios de Economía"/>
     <property name="horario" value="L,M 9:00-11:00am"/>
     <property name="aula" value="B02"/>
	 <property name="id_profesor" value="202220222"/>
  </bean>
</beans>